// -*- mode: c++ -*-
#include <stdio.h>
#include <unistd.h>
#include <fcntl.h>
#include <signal.h>
#include <tamer/tamer.hh>
using namespace tamer;

tamed void test_error()
{
    twait { (void) make_event(); }
}

int main(int, char **) {
    tamer::initialize();
    test_error();
    while (!tamer::driver_empty())
	tamer::once();
}
