*.dSYM
*.la
*.lo
*.o
.deps
.libs
gmon.out

/Makefile
/Makefile.in
/aclocal.m4
/autom4te*
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h*
/ylwrap

/compiler/Makefile
/compiler/Makefile.in
/compiler/parse.cc
/compiler/parse.hh
/compiler/scan.cc
/compiler/tamer

/tamer/Makefile
/tamer/Makefile.in
/tamer/autoconf.h
/tamer/bufferedio.cc
/tamer/dns.cc
/tamer/fd.cc
/tamer/fdh.cc
/tamer/http.cc
/tamer/lock.cc
/tamer/stamp-h*
/tamer/tamer.pc
/tamer/tamerfdh
/tamer/websocket.cc

/doc/Makefile
/doc/Makefile.in

/ex/Makefile
/ex/Makefile.in
/ex/ex[0-9]
/ex/ex[1-6].cc
/ex/osptracker
/ex/osptracker.cc
/ex/tamer-echosrv
/ex/tamer-echosrv.cc
/ex/tamer-httpd
/ex/tamer-httpd.cc
/ex/tamer-wsecho
/ex/tamer-wsecho.cc
/ex/tamer-yes
/ex/tamer-yes.cc

/test/Makefile
/test/Makefile.in
/test/t[012][0-9]
/test/t[012][0-9].cc

/bench/Makefile
/bench/Makefile.in
/bench/b01-asapwto
/bench/b01-asapwto.cc
/bench/b02-string
/bench/b02-string.cc

/knot/Makefile
/knot/Makefile.in
/knot/cache2.cc
/knot/http.cc
/knot/input.cc
/knot/knot.cc
/knot/knot.tamer
